#footer {
  height: 622px;
  /* max-height: 622px; */
  background-image: url('../img/bokeh-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content:  flex-start;
  flex-direction: column;
  overflow: hidden;
}
#footer .footer-container {
  display: flex;
  flex-direction: column;
  text-align:  center;
  justify-content: flex-start;
  align-items:  center;
  /* width: 1198px; */
}
#footer .footer-container a.logo-img {
  margin: 91px 0 0;
}
#footer .footer-container a.logo-img img {
  width: 435px;
}
#footer .footer-container .link-container {
  padding: 60px 0 0;
  display:  inline-flex;
}
#footer .footer-container .link-container a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 1.37em;
  margin: 0 18px 0;
  letter-spacing: 0.06rem;
  transition: 0.3s;
}
#footer .footer-container .link-container a:hover {
  color: #AD9166;
}
#footer .footer-container .contact {
  padding: 54px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 586px;
}
#footer .footer-container .contact a {
  color: #ad9166;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  align-self: baseline;
}
#footer .footer-container .contact .socials {
  display: flex;
  justify-content: space-between;
  width: 92px;
  font-size: 1.5rem;
}
#footer .footer-container .contact .socials a {
  font-size: 1.5rem;
}
#footer .footer-container .contact .email {
  display: flex;
  justify-content: space-between;
  width: 295px;
  align-items: baseline;
}
#footer .footer-container .contact .email i {
  font-size: 1.18rem;
  color: #ad9166;
}
#footer .footer-container .contact .email a {
  font-size: 1.17rem;
}
#footer .footer-container .contact .phone {
  display: flex;
  justify-content: space-between;
  width: 138px;
  align-items: baseline;
  position: relative;
  left: -4px;
}
#footer .footer-container .contact .phone i {
  font-size: 1.18rem;
  color: #ad9166;
}
#footer .footer-container .contact .phone a {
  font-size: 1.17rem;
}
#footer .copyright {
  margin: 75px 0 0;
  width: 100%;
  position: relative;
  border-top: 1px solid rgba(255,255,255,0.15);
  text-align: center;
}
#footer .copyright p {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(222, 208, 187, 0.4);
  padding: 35px 0 0;
  font-size: 1.06rem;
}
#footer .copyright p a {
  text-decoration: none;
  color: rgba(222, 208, 187,0.4);
}
#footer .copyright p a:hover {
  text-decoration: underline;
}
#footer .copyright a.adtrak-logo {
  display: inline-block;
  margin-top: 25px;
}
#footer .copyright a img {
  width: 100px;
  opacity: 0.2;
}
@media only screen and (max-width: 1399px) {
  #footer {
    height: 607px;
  }
  #footer .footer-container a.logo-img {
    margin: 89px 0 0;
  }
  #footer .footer-container a.logo-img img {
    width: 400px;
  }
}
@media only screen and (max-width: 1199px) {
  #footer {
    height: 550px;
  }
  #footer .footer-container a.logo-img {
    margin: 73px 0 0;
  }
  #footer .footer-container .link-container {
    padding: 46px 0 0;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.5;
  }
  #footer .footer-container .contact {
    padding: 45px 0 0;
  }
  #footer .copyright {
    margin: 55px 0 22px;
    line-height: 1.5;
  }
  #footer .copyright p {
    padding: 34px 30px 0;
  }
}
@media only screen and (max-width: 1099px) {
  #footer {
    height: 580px;
  }
  #footer .footer-container .link-container {
    padding: 46px 20px 0;
  }
}
@media only screen and (max-width: 999px) {
  #footer {
    height: 500px;
  }
  #footer .footer-container a.logo-img {
    margin: 50px 0 0;
  }
  #footer .footer-container .link-container {
    display: block;
    padding: 30px 20px 0;
  }
  #footer .footer-container .link-container a {
    font-size: 1.05em;
    margin: 0 8px 0;
  }
  #footer .footer-container .contact {
    padding: 27px 0 0;
  }
  #footer .copyright p {
    padding: 34px 28px 0;
  }
}
@media only screen and (max-width: 799px) {
  #footer {
    height: 525px;
  }
  #footer .copyright p {
    padding: 34px 12px 0;
  }
}
@media only screen and (max-width: 699px) {
  #footer {
    min-height: 760px;
    height: unset;
  }
  #footer .footer-container .link-container a {
    display: block;
    line-height: 1.75;
  }
  #footer .footer-container a.logo-img {
    margin: 40px 0 0;
    max-width: 88vw;
  }
  #footer .footer-container a.logo-img img {
    max-width: 88vw;
  }
  #footer .footer-container .contact {
    display: block;
  }
  #footer .footer-container .contact .socials,
  #footer .footer-container .contact .email,
  #footer .footer-container .contact .phone {
    margin: 0 auto 12px;
  }
  #footer .footer-container .contact .email i {
    font-size: 1.1rem;
    margin: 0 10px 0 auto;
  }
  #footer .footer-container .contact .email a {
    font-size: 1.07rem;
    margin: 0 auto 0 0;
  }
  #footer .footer-container .contact .phone i {
    font-size: 1.0rem;
    margin-left: auto;
    margin-right: 5px;
  }
  #footer .footer-container .contact .phone a {
    font-size: 1.07rem;
  }
}
