#map-container {
  position: relative;
  overflow: hidden;
}
#map {
  height: 642px;
  background-color: #2a2a2a;
  position: relative;
  overflow: hidden;
}
#map-container .locations {
  width: 502px;
  height: 75%;
  padding: 25px;
  background: url('../img/blackboard-bg.jpg'), #2A2A2A;
  position: absolute;
  top: 12.5%;
  right: 6%;
  z-index: 1;
  font-size: 12px;
}
#map-container .locations .stores-stockists {
   display: grid;
   grid-gap: 17px;
   grid-template-columns: 1fr 1fr;
}
#map-container .locations .stores-stockists a {
  display: inline-block;
  padding: 15px 60px;
  color: white;
  font-family: 'Anton', sans-serif;
  border: 3px solid white;
  font-size: 1.2rem;
  max-width: 215px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03rem;
}
#map-container .locations .stores-stockists a:first-of-type {

}
#map-container .locations .stores-stockists a:last-of-type {
  border: 3px solid #9d845e;
  /* color: #AD9166; */
  color: #9d845e;
  transition: .1s;
}
#map-container .locations .stores-stockists a:last-of-type:hover {
  border: 3px solid #a38a61;
  color: #a38a61;
}
#map-container .locations .location {
  line-height: 1.6;
}
#map-container .locations .location h4 {
  display: inline-block;
  color: #ad9166;
  font-family: 'Anton', sans-serif;
  font-size: 1.41rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04rem;
}
#map-container .locations .location h4:first-of-type {
  padding: 30px 0 0;
}
#map-container .locations .location a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #525252;
  font-family: 'Anton', sans-serif;
  padding: 1px 4px;
  background-color: #121212;
  margin-left: 5px;
  transition: .2s;
}
#map-container .locations .location a:hover {
  color: #5e5e5e;
}
#map-container .locations .location p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 0.94rem;
}

@media only screen and (max-width: 1399px) {
  #map {
    height: 550px;
  }
  #map-container .locations {
    top: 10%;
    right: 5%;
    width: 400px;
    height: 80%;
  }
  #map-container .locations .stores-stockists {
    display: flex;
    justify-content: space-between;
  }
  #map-container .locations .stores-stockists a {
    width: 48%;
    font-size: 1.05rem;
    padding: 12px 51px;
  }
  #map-container .locations .stores-stockists a:last-of-type {
    display: flex;
    justify-content: center;
  }
  #map-container .locations .location h4 {
    font-size: 1.269rem;
  }
}
@media only screen and (max-width: 1199px) {
  #map-container .locations {
    width: 350px;
    padding: 20px;
  }
  #map-container .locations .stores-stockists a {
    padding: 14px 51px;
  }
  #map-container .locations .stores-stockists a:first-of-type {
    display: flex;
    justify-content: center;
  }
  #map-container .locations .location h4:first-of-type {
    padding: 20px 0 0;
    font-size: 1.159rem;
  }
}
@media only screen and (max-width: 999px) {
  #map-container .locations {
    text-align: center;
    width: 100%;
    padding: 20px;
    height: 380px;
    top: unset;
    right: 0;
    bottom: 0;
    position: static;
  }
  #map-container .locations .stores-stockists {
    width: 300px;
    margin: 0 auto;
    display: block;
  }
  #map-container .locations .stores-stockists a:first-of-type {
    margin-right: 10px;
    width: 38%;
    display: inline-flex;
  }
  #map-container .locations .stores-stockists a:last-of-type {
    display: inline-flex;
    width: 45.5%;
  }
}
